<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Le Tre Profezie Ristoranti - J95866</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LTPR.styles.css" asp-append-version="true" />

    <!--Mapbox links-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Le Tre Profezie Ristoranti</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id="navbarSupportedContent"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link btn btn-r btn-header" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-r btn btn-header" asp-area="" asp-page="/Menus/Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-r btn btn-header" asp-area="" asp-page="/Contact/Index">Contact</a>
                        </li>
                    </ul>
                    @using Microsoft.AspNetCore.Identity;
                    @using LTPR.Data;
                    @inject SignInManager<ApplicationUser> SignInManager;
                    @inject UserManager<ApplicationUser> UserManager;
                    
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link btn-r btn btn-header" asp-area="" asp-page="/Purchase/Basket">Basket</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-r btn btn-header" asp-area="" asp-page="/Account/Logout">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-r btn btn-header" asp-area="" asp-page="/Account/Profile">Profile</a>
                            </li>
                            if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                            {
                            <li class="nav-item">
                                    <a class="nav-link btn-r btn btn-header" asp-area="" asp-page="/Admin/Index">Admin</a>
                            </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link btn-r btn btn-header" asp-area="" asp-page="/Account/Index">Login / Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top">
        <div class="container">
            <span>J95866</span> | 
            <a class="footerlink" asp-page="/Privacy">Privacy Policy</a> | 
            @{
                string u = string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString);
                string hurl = "http://validator.w3.org/check?uri=" + u;
                string curl = "https://jigsaw.w3.org/css-validator/validator?uri=https://2126671.win.studentwebserver.co.uk/css/site.css";
                <span><a class="footerlink" href="@hurl">Validate HTML</a> |
            <a class="footerlink" href="@curl">Validate CSS</a> | 
            <a class="footerlink" href="http://achecker.achecks.ca/checker">Validate Accessibility</a></span>
            }
            @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin")){
                <span> | </span><a asp-page="/Admin/Index" class="footerlink">Admin</a>
            }
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>