@page
@model LTPR.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Contatto | Le Tre Profezie Ristoranti";
}

<h2>Admin: Edit Databases</h2>
<table class="table">
	<tbody>
		<tr><td><a asp-page="Restaurants/Index">Restaurants</a></td></tr>
		<tr><td><a asp-page="Menus/Index">Menus</a></td></tr>
		<tr><td><a asp-page="MenuItem/Index">Menu Items</a></td></tr>
		<tr><td><a asp-page="Ingredients/Index">Ingredients</a></td></tr>
		<tr><td><h4>Link Tables</h4></td></tr>
		<tr><td><a asp-page="MenuAtRestaurant/Index">Menus At Restaurants</a></td></tr>
		<tr><td><a asp-page="ItemOnMenu/Index">Items On Menus</a></td></tr>
		<tr><td><a asp-page="IngredientInItem/Index">Ingredients In Items</a></td></tr>
	</tbody>
</table>