@page
@model LTPR.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Index - Admin Data Editor";
}

<h1>Admin</h1>
<table class="table">
	<tbody>
		<tr><td><h3>User Management</h3></td></tr>
		<tr><td><a asp-page="Users/Index">Users & Passwords</a></td></tr>
		<tr><td><a asp-page="Users/Orders">Order History</a></td></tr>
		<tr><td><h3>Edit Database Tables</h3></td></tr>
		<tr><td><a asp-page="Restaurants/Index">Restaurants</a></td></tr>
		<tr><td><a asp-page="Menus/Index">Menus</a></td></tr>
		<tr><td><a asp-page="MenuItem/Index">Menu Items</a></td></tr>
		<tr><td><a asp-page="Ingredients/Index">Ingredients</a></td></tr>
		<tr><td><a asp-page="Images/Index">Images</a></td></tr>
		<tr><td><h4>Link Tables</h4></td></tr>
		<tr><td><a asp-page="MenuAtRestaurant/Index">Menus At Restaurants</a></td></tr>
		<tr><td><a asp-page="ItemOnMenu/Index">Items On Menus</a></td></tr>
		<tr><td><a asp-page="IngredientInItem/Index">Ingredients In Items</a></td></tr>
		<tr><td><a asp-page="ImageOnMenuItem/Index">Image On Item</a></td></tr>
	</tbody>
</table>