@page
@model LTPR.Pages.Admin.MenuAtRestaurant.DeleteModel

@{
    ViewData["Title"] = "Menu at Restaurants Delete - Admin Data Editor";
}

<h1>Remove Menu from Restaurant</h1>

<h3>Are you sure you want to remove this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Restaurant
        </dt>
        <dd class="col-sm-10">
            @{
                var foundId = -1;
                // gets more info about restaurant by id
                @for (int i = 0; i < Model.tblRestaurants.Count(); i++)
                {
                    if (Model.tblMenuAtRestaurant.RID == Model.tblRestaurants[i].ID)
                    {
                        foundId = i;
                    }
                }
                if (foundId == -1)
                {
                    @Html.DisplayFor(modelItem => Model.tblMenuAtRestaurant.RID)
                }
                else
                {
                    @Html.DisplayFor(modelItem => Model.tblRestaurants[foundId].Name)
                }
            }
        </dd>
        <dt class="col-sm-2">
            Menu
        </dt>
        <dd class="col-sm-10">
            @{
                foundId = -1;
                // gets more info about menu by id
                @for (int i = 0; i < Model.tblMenus.Count(); i++)
                {
                    if (Model.tblMenuAtRestaurant.MID == Model.tblMenus[i].ID)
                    {
                        foundId = i;
                    }
                }
                if (foundId == -1)
                {
                    @Html.DisplayFor(modelItem => Model.tblMenuAtRestaurant.MID)
                }
                else
                {
                    @Html.DisplayFor(modelItem => Model.tblMenus[foundId].Name)
                }
            }
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="tblMenuAtRestaurant.ID" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
