@page
@model LTPR.Pages.Contact.ConfirmModel
@{
	ViewData["Title"] = "Message Sent";
}

<h1>Email sent!</h1>
<p>Message says: @Model.Message</p>

<a asp-page="/Index" class="btn btn-r">Return to Homepage</a>