@page
@model LTPR.Pages.Admin.ItemOnMenu.CreateModel

@{
    ViewData["Title"] = "Item on Menu Create - Admin Data Editor";
}

<h1>Add Item to Menu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tblItemOnMenu.MID" class="control-label">Menu</label>
                <select asp-for="tblItemOnMenu.MID" class="form-control">
                    @foreach(var menu in Model.tblMenus)
                    {
                        <option value=@menu.ID>@menu.Name</option>
                    }
                </select>
                <span asp-validation-for="tblItemOnMenu.MID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tblItemOnMenu.IID" class="control-label">Item</label>
                <select asp-for="tblItemOnMenu.IID" class="form-control">
                    @foreach(var item in Model.tblMenuItem)
                    {
                        // displays any active menu item as a select option
                        if (!item.Retired)
                        {
                            <option value=@item.ID>@item.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="tblItemOnMenu.IID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tblItemOnMenu.Cost" class="control-label"></label>
                <input asp-for="tblItemOnMenu.Cost" class="form-control" />
                <span asp-validation-for="tblItemOnMenu.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tblItemOnMenu.SpecialDay" class="control-label"></label>
                <select asp-for="tblItemOnMenu.SpecialDay" class="form-control">
                    <option value="NONE">Please select (optional)</option>
                    <option value="MON">Monday</option>
                    <option value="TUE">Tuesday</option>
                    <option value="WED">Wednesday</option>
                    <option value="THU">Thursday</option>
                    <option value="FRI">Friday</option>
                    <option value="SAT">Saturday</option>
                    <option value="SUN">Sunday</option>
                </select>
                <span asp-validation-for="tblItemOnMenu.SpecialDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
