@page
@model LTPR.Pages.Admin.ItemOnMenu.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tblItemOnMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tblItemOnMenu.ID" />
            <input type="hidden" asp-for="tblItemOnMenu.MID" />
            <input type="hidden" asp-for="tblItemOnMenu.IID" />
            <div class="form-group">
                <label asp-for="tblItemOnMenu.Cost" class="control-label"></label>
                <input asp-for="tblItemOnMenu.Cost" class="form-control" />
                <span asp-validation-for="tblItemOnMenu.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tblItemOnMenu.SpecialDay" class="control-label"></label>
                <select asp-for="tblItemOnMenu.SpecialDay" class="form-control">
                    <option value="NONE">Please select (optional)</option>
                    <option value="MON">Monday</option>
                    <option value="TUE">Tuesday</option>
                    <option value="WED">Wednesday</option>
                    <option value="THU">Thursday</option>
                    <option value="FRI">Friday</option>
                    <option value="SAT">Saturday</option>
                    <option value="SUN">Sunday</option>
                </select>
                <span asp-validation-for="tblItemOnMenu.SpecialDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
