html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
/*
html{
    position:abslute;
}*/

/*
div{
    display:block;
}
*/
main {
    min-height:87vh;
    height:auto;
    margin:0.5vh;
}

header {
    background-color: #ff8888;
    /*height:7vh;*/
}
/*header nav{
    height:100%;
}*/

footer {
    background-color: forestgreen;
    color: antiquewhite;
    height: 5vh;
    text-align: center;
}

.footerlink {
    color: antiquewhite;
}

footer a{
    color:antiquewhite;
}
    
/*div{
    display:block;
}*/


.gallery-image {
    width: 100%;
}
/*
.item{
    border:2px solid forestgreen;
    padding:2px;
    margin-bottom:5px;
}*/

.menu-image{
    height:75px;
}

.med-image{
    width:50vw;
}

.large-image{
    width:70vw;
}

.accordion-item .row{
    width:100%;
}

#map{
    width:100%;
    height:300px;
    object-fit:cover;
}
.map{
    width:100%;
    height:250px;
    object-fit:cover;
}
.addressBox{
    border: 1px solid black;
    text-align:center;
}

.specials-tbl{
    margin-left: auto;
    margin-right:auto;
}

.discount-input, .discount-button, .pay-button{
    width:100%;
}

.btn-r {
    background-color:#ff8888;
    color: black !important;
}

.btn-r:hover{
    background-color:#884444;
    color:white !important;
}

.text-dark:hover{
    color:white;
}

.btn-text-black{
    color:black;
}

/*@media (max-width:767px) {
    .btn-header {
        width: 100vw;
        padding-left:0px;
        border-radius: 0;
    }
    .dropdownMenu {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100vw;
    }
    .navbarTitle{
        margin-left:10vw;
    }
    .navbarButton{
        margin-right:10vw;
        margin-left:auto;
    }
}*/