html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
/*
html{
    position:abslute;
}*/

/*
div{
    display:block;
}
*/
main {
    min-height:87vh;
    height:auto;
    margin:0.5vh;
}

header {
    background-color: #ff8888;
    height:7vh;
}
header nav{
    height:100%;
}

footer {
    background-color: forestgreen;
    color: antiquewhite;
    height: 5vh;
    text-align: center;
}

    footer a {
        color: antiquewhite;
    }
    
/*div{
    display:block;
}*/


.gallery-image {
    width: 100%;
}
/*
.item{
    border:2px solid forestgreen;
    padding:2px;
    margin-bottom:5px;
}*/

.menu-image{
    height:75px;
}

.med-image{
    width:50vw;
}

.large-image{
    width:70vw;
}

.logout-button{
    padding:7px;
}

.accordion-item .row{
    width:100%;
}