@page
@model IndexModel
@{
    ViewData["Title"] = "Casa | Le Tre Profezie Ristoranti";
}
@using Microsoft.AspNetCore.Identity;
@using LTPR.Data;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Ciao, @UserManager.GetUserName(User)</h1>
    }
    else
    {
        <h1 class="display-4">Ciao</h1>
    }
    
    <div class="row gallery">
        
        <div class ="col-md-6 col-xs-12">
            <img src="~/img/garlic-bread.jpg" alt="garlic bread" class="gallery-image"/>
        </div>
		<div class="col-md-6 col-xs-12">
			<img src="~/img/pasta-fork.jpg" alt="pasta on a fork" class="gallery-image" />
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="~/img/margherita.jpg" alt="margherita pizza" class="gallery-image" />
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="~/img/pizza-rosemary.jpg" alt="pizza on a wooden plate" class="gallery-image" />
        </div>

    </div>
</div>
