@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy Policy</h1>

<p>Please note that this site is created solely for educational purposes and as such no payment will be taken or long term storage of real personal data will occur.</p>
